# Ignore compilation files
*.o
*.out


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
node_modules/
parts/
sdist/
var/
package*.json
*.egg-info/
.installed.cfg
*.egg


#global 
*.log
/build/
/.tmp


# virtualenv
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#others
.vscode

#pyhon pypi file configuration
.pypirc